<%= render 'pages/home' unless user_signed_in? %>

<div id="rants", class="transitions-enabled">
  <% @rants.each do |rant| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(rant.image.url(:thumb)), rant %>
      <div class="panel-body center">
        <strong><%= rant.description %></strong><br>
        <%= rant.user.name if rant.user %><br>
        <% if rant.user == current_user %>
          <div class="actions">
            <%= link_to edit_rant_path(rant)  do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            <%end%>
            | 
            <%= link_to rant, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div> 

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>