<div id="rants", class="transitions-enabled">
  <% @rants.each do |rant| %>
    <div class="box panel panel-default">
      <%= image_tag rant.image.url(:thumb) %>
      <div class="panel-body">
        <%= rant.description %>
        <%= rant.user.email if rant.user %>
        <br>
        <%= link_to 'Show', rant %>
        <% if rant.user == current_user %>
          | <%= link_to 'Edit', edit_rant_path(rant) %>
          | <%= link_to 'Destroy', rant, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<!-- <br>
<%= link_to 'New Rant', new_rant_path, class: "btn btn-primary" %>
-->