<h1>Listing rants</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @rants.each do |rant| %>
      <tr>
        <td><%= image_tag rant.image.url(:thumb) %></td>
        <td><%= rant.description %></td>
        <td><%= rant.user.email if rant.user %></td>
        <td><%= link_to 'Show', rant %></td>
        <% if rant.user == current_user %>
          <td><%= link_to 'Edit', edit_rant_path(rant) %></td>
          <td><%= link_to 'Destroy', rant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rant', new_rant_path %>
