
<%= link_to rants_path  do %>
	<div class="btn btn-default">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
	</div>
<%end%>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @rant.image.url(:medium) %>
			</div>
			<div class="panel-body">
				<p>
				  <strong><%= @rant.description %></strong>
				</p>
				<p>
				  <%= @rant.user.email if @rant.user %>
				</p>

				<% if @rant.user == current_user %>
					<%= link_to edit_rant_path(@rant)  do %>
		              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
		            <%end%>
		            | 
		            <%= link_to @rant, method: :delete, data: { confirm: 'Are you sure?' } do %>
		              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
		            <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>